@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a202c; /* Match the 'primary' theme color */
  color: #e2e8f0; /* A light gray for default text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
